<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/media.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="js/bootstrap.bundle.min.js"integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>bio1</title>
</head>
<body>
   <div class="container">
    <div class="row">
        <div class="image">
            <img src="images/111.jpg" class="w-50" alt="">
        </div>
        <div class="details">
            <div class="title">
                Biometric Attendance Machine
            </div>
            <div class="matter">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus eligendi magnam quo aperiam. Magni, quisquam ratione animi commodi quae officiis sapiente, eaque nemo laboriosam beatae est culpa praesentium provident dolor.</div>
            <div class="cost">
                COST: <span>2000/-</span>
            </div>
    </div>
   </div>
    
</body>
</html>