<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/media.css">
    <title>bio3</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="image">
                <img src="images/app2 (1).webp" class="w-50" alt="">
            </div>
            <div class="details">
                <div class="title">
                    Team Office Face Attendance Device
                </div>
                <div class="matter">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus eligendi magnam quo aperiam. Magni, quisquam ratione animi commodi quae officiis sapiente, eaque nemo laboriosam beatae est culpa praesentium provident dolor.</div>
                <div class="cost">
                    COST: <span>2000/-</span>
                </div>
        </div>
       </div>
</body>
</html>